@{
    ViewData["Title"] = "Accueil";
}
<h1>@ViewData["Title"]</h1>

<h2> Adrien Zoghbi </h2>

<p> Lien du code source <a target="_BLANK" href="https://github.com/AdrienIT/VCubWatcher" >ici<a/> </p>

<h3>Objectifs : </h3>
    <ul>
        <li>1 : ✓ </li>
        <li>2 : ✓ </li>
        <li>3 : ✓ </li>
        <li>4 : ✓ </li>
        <li>5 : ✓ </li>
        <li>6 : X </li>
        <li>7 : X </li>
        <li>8 : X </li>
        <li>9 : X </li>
        <li>10 : X </li>
        <li>11 : X </li>
        <li>12 : X </li>
        <li>13 : X </li>
        <li>14 : X </li>
        <li>15 : X </li>
        <li>16 : X </li>
        <li>17 : X </li>
        <li>18 : X </li>
    </ul>

